html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}

a {
	color: #00F;
	text-decoration: none;
}
a:hover, a:focus {
	color: #0060FF;
}

body {
	font: 14px/16px "DejaVu Sans", "Open Sans", sans-serif;
	margin: 0 auto;
	padding: 0 65px;
	width: 800px;
}

hr {
	border-top: 1px dotted #CCC;
	width: 50px;
}

section {
	margin-bottom: 20px;
}
section > h1 {
	font-family: "Open Sans", "DejaVu Sans", sans-serif;
	line-height: 15px;
	margin-bottom: 2px;
}
section > a {
	float: left;
	margin-right: 10px;
}
section > footer {
	font-family: "Open Sans", "DejaVu Sans", sans-serif;
	line-height: 15px;
}

#github {
	position: absolute;
	right: 0;
	top: 0;
}

#head {
	font: 72px "Open Sans", "DejaVu Sans", sans-serif;
	left: -65px;
	margin-bottom: 20px;
	position: relative;
}
#head > span {
	color: #CCC;
}

#other::before {
	content: "∞";
	float: left;
	margin-right: 10px;
	text-align: center;
	width: 50px;
}